@font-face {
  font-family: "f1";
  src: url("~FONTS/f1.ttf") format("truetype");
}
.f1 {
    font-family: 'f1'
}

@font-face {
  font-family: "f2";
  src: url("~FONTS/f2.ttf") format("truetype");
}
.f2 {
    font-family: 'f2'
}

@font-face {
  font-family: "f3";
  src: url("~FONTS/f3.ttf") format("truetype");
}
.f3 {
    font-family: 'f3'
}

@font-face {
  font-family: "f4";
  src: url("~FONTS/f4.ttf") format("truetype");
}
.f4 {
    font-family: 'f4'
}

@font-face {
  font-family: "f5";
  src: url("~FONTS/f5.ttf") format("truetype");
}
.f5 {
    font-family: 'f5'
}

@font-face {
  font-family: "f6";
  src: url("~FONTS/f6.ttf") format("truetype");
}
.f6 {
    font-family: 'f6'
}

@font-face {
  font-family: "f7";
  src: url("~FONTS/f7.ttf") format("truetype");
}
.f7 {
    font-family: 'f7'
}

@font-face {
  font-family: "f8";
  src: url("~FONTS/f8.ttf") format("truetype");
}
.f8 {
    font-family: 'f8'
}

@font-face {
  font-family: "f9";
  src: url("~FONTS/f9.ttf") format("truetype");
}
.f9 {
    font-family: 'f9'
}

@font-face {
  font-family: "f10";
  src: url("~FONTS/f10.ttf") format("truetype");
}
.f10 {
    font-family: 'f10'
}

@font-face {
  font-family: "f11";
  src: url("~FONTS/f11.ttf") format("truetype");
}
.f11 {
    font-family: 'f11'
}

@font-face {
  font-family: "f12";
  src: url("~FONTS/f12.ttf") format("truetype");
}
.f12 {
    font-family: 'f12'
}

@font-face {
  font-family: "f13";
  src: url("~FONTS/f13.ttf") format("truetype");
}
.f13 {
    font-family: 'f13'
}

@font-face {
  font-family: "f14";
  src: url("~FONTS/f14.ttf") format("truetype");
}
.f14 {
    font-family: 'f14'
}

@font-face {
  font-family: "f15";
  src: url("~FONTS/f15.ttf") format("truetype");
}
.f15 {
    font-family: 'f15'
}

@font-face {
  font-family: "f16";
  src: url("~FONTS/f16.ttf") format("truetype");
}
.f16 {
    font-family: 'f16'
}

@font-face {
  font-family: "f17";
  src: url("~FONTS/f17.ttf") format("truetype");
}
.f17 {
    font-family: 'f17'
}

@font-face {
  font-family: "f18";
  src: url("~FONTS/f18.ttf") format("truetype");
}
.f18 {
    font-family: 'f18'
}

@font-face {
  font-family: "f19";
  src: url("~FONTS/f19.ttf") format("truetype");
}
.f19 {
    font-family: 'f19'
}

@font-face {
  font-family: "f20";
  src: url("~FONTS/f20.ttf") format("truetype");
}
.f20 {
    font-family: 'f20'
}

@font-face {
  font-family: "f21";
  src: url("~FONTS/f21.ttf") format("truetype");
}
.f21 {
    font-family: 'f21'
}

@font-face {
  font-family: "f22";
  src: url("~FONTS/f22.ttf") format("truetype");
}
.f22 {
    font-family: 'f22'
}

@font-face {
  font-family: "f23";
  src: url("~FONTS/f23.ttf") format("truetype");
}
.f23 {
    font-family: 'f23'
}

@font-face {
  font-family: "f24";
  src: url("~FONTS/f24.ttf") format("truetype");
}
.f24 {
    font-family: 'f24'
}

@font-face {
  font-family: "f25";
  src: url("~FONTS/f25.ttf") format("truetype");
}
.f25 {
    font-family: 'f25'
}

@font-face {
  font-family: "f26";
  src: url("~FONTS/f26.ttf") format("truetype");
}
.f26 {
    font-family: 'f26'
}

@font-face {
  font-family: "f27";
  src: url("~FONTS/f27.ttf") format("truetype");
}
.f27 {
    font-family: 'f27'
}

@font-face {
  font-family: "f28";
  src: url("~FONTS/f28.ttf") format("truetype");
}
.f28 {
    font-family: 'f28'
}

@font-face {
  font-family: "f29";
  src: url("~FONTS/f29.ttf") format("truetype");
}
.f29 {
    font-family: 'f29'
}

@font-face {
  font-family: "f30";
  src: url("~FONTS/f30.ttf") format("truetype");
}
.f30 {
    font-family: 'f30'
}

@font-face {
  font-family: "f31";
  src: url("~FONTS/f31.ttf") format("truetype");
}
.f31 {
    font-family: 'f31'
}

@font-face {
  font-family: "f32";
  src: url("~FONTS/f32.ttf") format("truetype");
}
.f32 {
    font-family: 'f32'
}

@font-face {
  font-family: "f33";
  src: url("~FONTS/f33.ttf") format("truetype");
}
.f33 {
    font-family: 'f33'
}

@font-face {
  font-family: "f34";
  src: url("~FONTS/f34.ttf") format("truetype");
}
.f34 {
    font-family: 'f34'
}

@font-face {
  font-family: "f35";
  src: url("~FONTS/f35.ttf") format("truetype");
}
.f35 {
    font-family: 'f35'
}

@font-face {
  font-family: "f36";
  src: url("~FONTS/f36.ttf") format("truetype");
}
.f36 {
    font-family: 'f36'
}

@font-face {
  font-family: "f37";
  src: url("~FONTS/f37.ttf") format("truetype");
}
.f37 {
    font-family: 'f37'
}

@font-face {
  font-family: "f38";
  src: url("~FONTS/f38.ttf") format("truetype");
}
.f38 {
    font-family: 'f38'
}

@font-face {
  font-family: "f39";
  src: url("~FONTS/f39.ttf") format("truetype");
}
.f39 {
    font-family: 'f39'
}
